[CRAB]
jobtype = cmssw
scheduler = glite
server_name = legnaro


[CMSSW]
datasetpath = /SUSY_LM0-sftsht/susy-SUSY_LM0_229_SUSYPAT_V5_v1-00a24c1fa2b61c755cc684c50e9bc48c/USER
#no custom DBS
pset = /data/projekte/superSymmetry/src/onTrain/SubmitScripts/unittest/Output/skimSummer08/patLayer1_fromSummer08redigi_V5j_cfg.py
total_number_of_events = -1
events_per_job = 750000
output_file = skimPAT.root, skimming.log


[USER]
ui_working_dir = /data/projekte/superSymmetry/src/onTrain/SubmitScripts/unittest/Output/skimSummer08/unittest
copy_data = 1
storage_element = T2_DE_RWTH
user_remote_dir = heron
publish_data = 1
publish_data_name = SUSY_LM0_Cern 
dbs_url_for_publication =https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet 
thresholdLevel = 70
eMail = heron@cern.ch


[GRID]
virtual_organization = cms
group = dcms
ce_white_list = T2_DE_RWTH


[CONDORG]